html {
    scroll-snap-type: y mandatory;
}

.logo {
    filter: brightness(100);
    position: fixed;
    width: 120px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    height: 100vh;
    width: 100vw;

    scroll-snap-align: start;
}

video,
.img-tesla {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    object-fit: cover;
    filter: brightness(90%);
}

h1,
.subtitle,
.text-info {
    color: #fff;
}

h1 {
    font-size: 50px;
}

.info-car {
    margin-top: 80px;
    text-align: center;

}

.footer {
    text-align: center;
    margin-bottom: 40px;
}

.order,
.test-drive, .close {
    padding: 7px 80px;

    border-radius: 5px;
    border: none;

    cursor: pointer;

}

.order, .close {
    background-color: rgba(34, 34, 34, 0.8);
    color: #fff;
}

.test-drive {
    color: #000;
    background-color: #fff;
}

.form {
    position: fixed;
    top: 40px;
    width: 600px;
    height: 100%;
    z-index: 3;

    left: -50%;
    transition: 1.5s;
}